[submodule "pandadotpytorch"]
	path = pandadotpytorch
	url = git@github.com:EmreAdabag/panda-dot-pytorch.git
	branch = jointspace

[submodule "robosuite"]
	path = robosuite
	url = git@github.com:tomakeIT/robosuite.git
	branch = master
